<h2> Secret Codes </h2>
<br>
<table class="table">
  <th>
    <td>Codes</td>
    <td>Associated Email</td>
  </th>
  <% @secret_codes.each do |secret_code| %>
    <tr>
      <td>secret_code.code</td>
      <td>
        <% if secret_code.user %>
          secret_code.user.email
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<%= form_tag secret_codes_url, class: "form-inline" do %>
  <div class="form-group">
    <%= label_tag "Number of Codes", nil, for: "count" %>
    <%= select_tag "count", options_for_select([1,10,20,50,100], 10), {class: "form-control"} %>
  </div>
  <%= button_tag "Generate", class: "btn btn-primary" %>
<% end %>
